---
const {
  releaseDate,
  label,
  catalogNumber,
  series,
  country,
  genre,
  imgUrl,
  imgAlt,
} = Astro.props;
---

{
  /*  
  Example Usage:
  <ReleaseInformation
    releaseDate="YYYY-MM-DD"
    catalogNumber="60016"
    label="Cenobite Records"
    country="Netherlands"
    genre="Psycore, Early Hardcore, Hardcore Techno, Early Terror, Early Rave, Gabber"
    imgUrl="https://i.discogs.com/gaOt7-BCmamHHkiY9S4AIHN9t_Txw1gQO3hLyLFjxPo/rs:fit/g:sm/q:90/h:594/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTU4ODE0/LTE0ODkyMjM3MjAt/Mzk0Mi5qcGVn.jpeg"
    imgAlt="First Cenobite Release Album Cover"
  />

<ReleaseInformation
  releaseDate=""
  label=""
  catalogNumber=""
  series=""
  country="Malden, Netherlands"
  genre=""
  imgUrl="image url of the physical release"
  imgAlt=""
  />
*/
}
<div
  class="release-information"
  style={{ display: "flex", alignItems: "center" }}
>
  {
    imgUrl && (
      <div class="release-information-image" style={{ flex: 1 }}>
        <img
          src={imgUrl}
          alt={imgAlt}
          style={{
            maxWidth: "100%",
            maxHeight: "100%",
          }}
        />
      </div>
    )
  }

  <div style={{ flex: 1, marginLeft: "10px" }}>
    {releaseDate ? <p>Date: {releaseDate}</p> : ""}
    {label ? <p>Label: {label}</p> : ""}
    {catalogNumber ? <p>Catalog Number:{catalogNumber}</p> : ""}
    {series ? <p>Series:{series}</p> : ""}
    {country ? <p>Country: {country}</p> : ""}
    {genre ? <p>Genre: {genre}</p> : ""}
  </div>
</div>
