---
import BaseLayout from "../layouts/BaseLayout.astro";
import ReleaseInformation from "../components/release/ReleaseInformation.astro";
("../components/release/ReleaseInformation.astro");
// import YoutuberDetails from "../components/blog/youtube/YoutuberDetails.astro";
const pageTitle = "🤪 MUSIC 🤪";
---

{/* ! TODO: alle embeds aflopen op juiste container etc */}
<BaseLayout pageTitle={pageTitle}>
  <div class="content-container">
    <div class="main-content">
      <h2>Dosis Decibel Records</h2>

      <p>
        <strong>Sam.C</strong> Dj & producer. Co-founder of Dosis Decibel Records
        and Sound System in 2004.
      </p>

      <p>
        Started playing DnB & Breakz in the first half of the 90’s and ventured
        off in to the more darker core side of electronic music at the end of
        the 90’s with his friends of Noiz ‘r Us Sound System. Playing a mixup of
        hardcore Tekno, Breakcore & Dark Style DnB. His dj and producer tactics
        are a mixture of Breaks Tekno DnB Acid with a lot of Core when needed.
      </p>

      <p>
        Sam.C has vinyl releases on labels such as Kaotek, Neurotrope, Mackitek,
        Old skull, Cerebral Noise, Tomeen, Tekno Sucks, yaya23, Winprod & his
        own labels Dosis Decibel, Deviant Behavior, Nano Pulse, Park Sessions,
        Oldschool Shoes & Cat in the Bag Records.
      </p>

      <hr />

      <h3>
        Ruffneck Prime / Sam C. &amp; Jack Wax / Sam C. / 1NC1N - Acid A Go Go
        001
      </h3>

      <p>
        <strong
          >The 1st vinyl release from the massive underground organisation "Acid
          A GoGo" !! Known from their awesome parties in oa. Nijmegen.</strong
        >
      </p>

      <p></p>

      <div class="bandcamp-player-container">
        <iframe
          style="border: 0; width: 700px; height: 938px;"
          src="https://bandcamp.com/EmbeddedPlayer/album=4194873783/size=large/bgcol=333333/linkcol=ffffff/transparent=true/"
          seamless
          ><a
          href="https://dosisdecibelrecords.bandcamp.com/album/acid-a-go-go-001">Acid
          A Go Go 001 by Ruffneck Prime / Sam C. &amp; Jack Wax / Sam C. /
          1NC1N</a></iframe
        >
      </div>

      <hr />

      <h3>RESERVED FOR Acid A GoGo 02</h3>

      <hr />

      <h3>Acid Up Dub / Sam.C / Scørch - Acid A GoGo 03</h3>

      <p>
        <strong>The 3rd Acid A Go Go Vinyl is ready for take off !!</strong>
      </p>
      <p>
        2 Brilliant hardtechno tracks from Scørch (DJ Hidden / The Outside
        Agency) and on the flip AcidUpDub &amp; Sam. C ! Check this one out !!
      </p>

      <ReleaseInformation
        releaseDate="January 9, 2024"
        label="Dosis Decibel Records"
        catalogNumber="ACIDGO 03"
        country="Netherlands"
        genre="acid"
        imgUrl="https://f4.bcbits.com/img/0034704203_10.jpg"
        imgAlt="Acid Up Dub / Sam C / Scørch - Acid A GoGo 03 Vinyl"
      />

      <div class="bandcamp-player-container">
        <iframe
          style="border: 0; width: 700px; height: 1062px;"
          src="https://bandcamp.com/EmbeddedPlayer/album=2369228891/size=large/bgcol=ffffff/linkcol=0687f5/package=3596503219/transparent=true/"
          seamless
          ><a
          href="https://dosisdecibelrecords.bandcamp.com/album/acid-a-gogo-03">Acid
          A GoGo 03 by Acid Up Dub / Sam C / Scørch</a></iframe
        >
      </div>

      <p><strong>License</strong></p>
      <p>All rights reserved</p>

      <hr />

      <h2>Kromatones</h2>

      <h3>
        RESERVED PLACE FOR:: KT010 - 1NC1N (Selected Dopamine Flavours EP)
      </h3>

      <hr />

      <h3>RESERVED PLACE FOR:: KT009 - D. Carbone (Paradise beats)</h3>

      <hr />

      <h3>
        RESERVED PLACE FOR:: KT008 - Studio Dondert (The system delivers EP)
      </h3>

      <hr />

      <h2>Flatlife Records</h2>

      <p>
        Flatlife Records is a Dutch-based label specializing in acid techno and
        techno. Founded on January 1st, 2009, in Eindhoven, it is owned and
        managed by J. de Koeijer with the primary goal of promoting Jack Wax's
        music. The distribution of Flatlife Records' releases varies, with The
        Flat 001, 002, 002X & 003 releases being distributed by Flatlife
        Records, while all other releases are distributed globally by Triple
        Vision. In 2015, Flatlife Records expanded its role to become an
        official vinyl distributor for both established and new labels, working
        closely with Triple Vision in this collaborative effort.
      </p>

      <h3>
        Donnie Murdo / Tommy The Cat / Pastaman - Cat Chasing The Mouse (Jungle)
      </h3>

      <ReleaseInformation
        releaseDate="January 9, 2024"
        label="Flatlife Records"
        catalogNumber=""
        country="Netherlands"
        genre="jungle"
        imgUrl="https://f4.bcbits.com/img/0034704532_10.jpg"
        imgAlt="Donnie Murdo / Tommy The Cat / Pastaman - Cat Chasing The Mouse (Jungle) Vinyl"
      />

      <div class="bandcamp-player-container">
        <iframe
          style="border: 0; width: 700px; height: 1062px;"
          src="https://bandcamp.com/EmbeddedPlayer/album=2867121757/size=large/bgcol=ffffff/linkcol=de270f/package=2785703785/transparent=true/"
          seamless
          ><a
          href="https://flatliferecords.bandcamp.com/album/cat-chasing-the-mouse-jungle">Cat
          Chasing The Mouse (Jungle) by Donnie Murdo / Tommy The Cat /
          Pastaman</a></iframe
        >
      </div>

      <hr />

      <h3>Acidrats - Acid​-​Lab presents: AcidRat EP (Digital)</h3>

      <ReleaseInformation
        releaseDate="January 9, 2024"
        label="Flatlife Records"
        catalogNumber=""
        country="Netherlands"
        genre="acid, acidcore, tekno, hardtekno, hardtechno, techno, acid techno, hardtek"
        imgUrl="https://f4.bcbits.com/img/a0284034769_10.jpg"
        imgAlt="Acidrats - Acid​-​Lab presents: AcidRat EP (Digital) Album Cover"
      />

      <div class="bandcamp-player-container">
        <iframe
          style="border: 0; width: 700px; height: 938px;"
          src="https://bandcamp.com/EmbeddedPlayer/album=3740422207/size=large/bgcol=333333/linkcol=2ebd35/transparent=true/"
          seamless
          ><a
          href="https://flatliferecords.bandcamp.com/album/acid-lab-presents-acidrat-ep-digital">Acid-Lab
          presents: AcidRat EP (Digital) by Acidrats</a></iframe
        >
      </div>

      <hr />

      <h2>Zodiak Commune</h2>

      <h3>V.A. - 303 Fifth Pattern</h3>

      <ReleaseInformation
        releaseDate=""
        label="Zodiak Commune Records"
        catalogNumber="ZC​-​303005"
        country="Eindhoven, Netherlands"
        genre="acid, techno"
        imgUrl="https://f4.bcbits.com/img/0031609409_10.jpg"
        imgAlt="303 Fifth Pattern Vinyl"
      />

      <div class="bandcamp-player-container">
        <iframe
          style="border: 0; width: 700px; height: 1260px;"
          src="https://bandcamp.com/EmbeddedPlayer/album=3311164152/size=large/bgcol=ffffff/linkcol=2ebd35/package=1502347793/transparent=true/"
          seamless
          ><a
          href="https://zodiakcommunerecords.bandcamp.com/album/zc-303005-303-fifth-pattern">ZC​-​303005
          - 303 Fifth Pattern by Zodiak Commune Records</a></iframe
        >
      </div>
    </div>

    <hr />

    <h3>SOUR - Time Paradox LP (25 Anniversary Edition)</h3>

    <ReleaseInformation
      releaseDate="2023-09-29"
      label="Zodiak Commune Records"
      catalogNumber="ZC032LP-EF"
      country="Eindhoven, Netherlands"
      genre="acid, techno"
      imgUrl="https://f4.bcbits.com/img/0033683769_10.jpg"
      imgAlt="SOUR - Time Paradox LP Vinyl"
    />

    <div class="bandcamp-player-container">
      <iframe
        style="border: 0; width: 700px; height: 1260px;"
        src="https://bandcamp.com/EmbeddedPlayer/album=177100455/size=large/bgcol=333333/linkcol=e32c14/package=4090157351/transparent=true/"
        seamless
        ><a
        href="https://zodiakcommunerecords.bandcamp.com/album/zc032lp-time-paradox-lp-25-anniversary-edition">ZC032LP
        - Time Paradox LP - 25 Anniversary Edition by SOUR</a></iframe
      >
    </div>

    <hr />

    <h3>Akkaelle - Solid Transmission</h3>

    <h4>Promo</h4>

    <div class="bandcamp-player-container">
      <iframe
        style={{ border: "0", width: "1080px", height: "728px" }}
        src="https://bandcamp.com/VideoEmbed?track=3732141119&bgcol=333333&linkcol=ffffff"
        allowfullscreen={true}
        seamless={true}></iframe>
    </div>

    <h4>Vinyl</h4>

    <div class="bandcamp-player-container">
      <iframe
        style="border: 0; width: 700px; height: 971px;"
        src="https://bandcamp.com/EmbeddedPlayer/album=3768648171/size=large/bgcol=333333/linkcol=ffffff/transparent=true/"
        seamless
        allowfullscreen={true}
        seamless={true}></iframe>
    </div>

    <ReleaseInformation
      releaseDate="YYYY-MM-DD"
      label="Zodiak Commune Records"
      catalogNumber=""
      country=""
      genre=""
      imgUrl=""
      imgAlt=""
    />

    <hr />

    <h3>Paul Renard &amp; Dima Gastrolër - Acid Sessions vol.1</h3>

    <h4>PROMO'S</h4>

    <div class="bandcamp-player-container">
      <iframe
        style={{ border: "0", width: "1080px", height: "728px" }}
        src="https://bandcamp.com/VideoEmbed?track=96329465&bgcol=ffffff&linkcol=de270f"
        allowfullscreen={true}
        seamless={true}></iframe>
    </div>
    <div class="bandcamp-player-container">
      <iframe
        style={{ border: "0", width: "1080px", height: "728px" }}
        src="https://bandcamp.com/VideoEmbed?track=282686685&bgcol=ffffff&linkcol=de270f"
        allowfullscreen={true}
        seamless={true}></iframe>
    </div>

    <h4>Vinyl</h4>

    <div class="bandcamp-player-container">
      <iframe
        style="border: 0; width: 700px; height: 1128px;"
        src="https://bandcamp.com/EmbeddedPlayer/album=2729703531/size=large/bgcol=ffffff/linkcol=de270f/package=3302166008/transparent=true/"
        seamless
        ><a
        href="https://zodiakcommunerecords.bandcamp.com/album/zc033-acid-sessions-vol-1">ZC033
        - Acid Sessions vol.1 by Paul Renard &amp; Dima Gastrolër</a></iframe
      >
    </div>

    <ReleaseInformation
      releaseDate="YYYY-MM-DD"
      label="Zodiak Commune Records"
      catalogNumber=""
      country=""
      genre=""
      imgUrl=""
      imgAlt=""
    />

    <hr />

    <h3>Acidulant - PA5Ti221 EP</h3>

    <div class="bandcamp-player-container">
      <iframe
        style="border: 0; width: 700px; height: 1062px;"
        src="https://bandcamp.com/EmbeddedPlayer/album=3786908161/size=large/bgcol=ffffff/linkcol=63b2cc/package=1696176802/transparent=true/"
        seamless
        ><a
        href="https://zodiakcommunerecords.bandcamp.com/album/zc028-pa5ti221-ep">ZC028
        - PA5Ti221 EP by Acidulant</a></iframe
      >
    </div>

    <ReleaseInformation
      releaseDate="YYYY-MM-DD"
      label="Zodiak Commune Records"
      catalogNumber=""
      country=""
      genre=""
      imgUrl=""
      imgAlt=""
    />

    <hr />

    <h3>Acidevice - White Cyclus VI EP</h3>

    <div class="bandcamp-player-container">
      <iframe
        style="border: 0; width: 700px; height: 1095px;"
        src="https://bandcamp.com/EmbeddedPlayer/album=3242034399/size=large/bgcol=ffffff/linkcol=333333/package=2369098590/transparent=true/"
        seamless
        ><a
        href="https://zodiakcommunerecords.bandcamp.com/album/zc-kore003-white-cyclus-vi-ep">ZC-KORE003
        - White Cyclus VI EP by Acidevice</a></iframe
      >
    </div>

    <ReleaseInformation
      releaseDate="YYYY-MM-DD"
      label="Zodiak Commune Records"
      catalogNumber=""
      country=""
      genre=""
      imgUrl=""
      imgAlt=""
    />

    <hr />

    <h3>Ounts & Lox - - Mist Of Souls</h3>

    <div class="bandcamp-player-container">
      <iframe
        style="border: 0; width: 700px; height: 1029px;"
        src="https://bandcamp.com/EmbeddedPlayer/album=3055901844/size=large/bgcol=ffffff/linkcol=0687f5/package=3672715865/transparent=true/"
        seamless
        ><a
        href="https://zodiakcommunerecords.bandcamp.com/album/zc-trip002-mist-of-souls">ZC-TRIP002
        - Mist Of Souls by Ounts, Lox</a></iframe
      >
    </div>

    <ReleaseInformation
      releaseDate="YYYY-MM-DD"
      label="Zodiak Commune Records"
      catalogNumber=""
      country=""
      genre=""
      imgUrl=""
      imgAlt=""
    />

    <hr />

    <h3>V.A. - The Electro Guilde</h3>

    <div class="bandcamp-player-container">
      <iframe
        style="border: 0; width: 700px; height: 1095px;"
        src="https://bandcamp.com/EmbeddedPlayer/album=759708579/size=large/bgcol=ffffff/linkcol=0687f5/package=1375150101/transparent=true/"
        seamless
        ><a
        href="https://zodiakcommunerecords.bandcamp.com/album/zc-elec008-the-electro-guilde">ZC​-​ELEC008
        - The Electro Guilde by Dust Devices</a></iframe
      >
    </div>

    <ReleaseInformation
      releaseDate="YYYY-MM-DD"
      label="Zodiak Commune Records"
      catalogNumber=""
      country=""
      genre=""
      imgUrl=""
      imgAlt=""
    />

    <hr />

    <h2>New Flesh, RAVE OR DIE & Flesh Or Die</h2>

    <h3>Serge Geyzel - Airplanes In My Dreams EP (incl. Umwelt rmx)</h3>

    <ReleaseInformation
      releaseDate="October 22, 2023"
      label="New Flesh"
      catalogNumber="NF29"
      country="	France"
      genre=""
      imgUrl=""
      imgAlt=""
    />

    <div class="bandcamp-player-container">
      <iframe
        style="border: 0; width: 700px; height: 1062px;"
        src="https://bandcamp.com/EmbeddedPlayer/album=2557650213/size=large/bgcol=ffffff/linkcol=0687f5/package=1845107721/transparent=true/"
        seamless
        ><a
        href="https://newfleshrecords.bandcamp.com/album/airplanes-in-my-dreams-ep-incl-umwelt-rmx-nf29">Airplanes
        In My Dreams EP (incl. Umwelt rmx) - NF29 by Serge Geyzel</a></iframe
      >
    </div>

    <hr />

    <h2>SolarOneMusic</h2>

    <h3>Gesloten Cirkel - 185</h3>

    <div class="bandcamp-player-container">
      <iframe
        style="border: 0; width: 700px; height: 1095px;"
        src="https://bandcamp.com/EmbeddedPlayer/album=1615590175/size=large/bgcol=333333/linkcol=ffffff/package=1749757566/transparent=true/"
        seamless
        ><a href="https://solaronemusic.bandcamp.com/album/185">185 by Gesloten
        Cirkel</a></iframe
      >
    </div>

    <hr />

    <h2>Ohm Recordings</h2>

    <h3>Art imitati¤n - ILegalizedIt</h3>

    <div class="youtube-player-container">
      <iframe
        class="youtube-video"
        src="https://www.youtube-nocookie.com/embed/x3Mu3RSk9G0?si=nIidKCRG35q3i13t"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>

    <hr />

    <h3>Submerged - Do You Even Know What Your Angels Look Like?</h3>

    <div class="youtube-player-container">
      <iframe
        class="youtube-video"
        src="https://www.youtube-nocookie.com/embed/oY152cT6hcI?si=9WQTFSkV_5SjFnhi"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>

    <!--<h3></h3>

      <div class="youtube-player-container">
        <iframe
          class="youtube-video"
         


          
      </div> -->

    <!-- <h3></h3>

      <div class="youtube-player-container">
        <iframe
          class="youtube-video"
         


          
      </div> -->

    <!-- <h3></h3>

      <div class="youtube-player-container">
        <iframe
          class="youtube-video"
         


          
      </div> -->

    <!-- <h3></h3>

      <div class="youtube-player-container">
        <iframe
          class="youtube-video"
         


          
      </div> -->

    <!-- <h3></h3>

      <div class="youtube-player-container">
        <iframe
          class="youtube-video"
         


          
      </div> -->

    <!-- <h3></h3>

      <div class="youtube-player-container">
        <iframe
          class="youtube-video"
         


          
      </div> -->

    <!-- <h3></h3>

      <div class="youtube-player-container">
        <iframe
          class="youtube-video"
         


          
      </div> -->

    <!-- <h3></h3>

      <div class="youtube-player-container">
        <iframe
          class="youtube-video"
         


          
      </div> -->

    <!-- <h3></h3>

      <div class="youtube-player-container">
        <iframe
          class="youtube-video"
         


          
      </div> -->

    <!-- <h3></h3>

      <div class="youtube-player-container">
        <iframe
          class="youtube-video"
         


          
      </div> -->

    <!-- <h3></h3>

      <div class="youtube-player-container">
        <iframe
          class="youtube-video"
         


          
      </div> -->

    <!-- <h3></h3>

      <div class="youtube-player-container">
        <iframe
          class="youtube-video"
         


          
      </div> -->

    <hr />

    <h2>Jaquarius</h2>

    <h3>Jaquarius - The New Acicular</h3>

    <div class="soundcloud-player-container">
      <iframe
        width="100%"
        height="166"
        scrolling="no"
        frameborder="no"
        allow="autoplay"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1705832985&color=%23b7bb3b&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
      ></iframe>
    </div>

    <hr />

    <h2>HALLY LABS</h2>

    <div class="youtube-player-container">
      <iframe
        class="youtube-video"
        src="https://www.youtube-nocookie.com/embed/juW3NyoQ1mU?si=KA27H0tjbKMTQezK"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>

    <hr />

    <h3>V.A. (HALLEY LABS) - FD04 ANOTHER VERSIONS</h3>

    <div class="bandcamp-player-container">
      <iframe
        style="border: 0; width: 700px; height: 971px;"
        src="https://bandcamp.com/EmbeddedPlayer/album=2634766154/size=large/bgcol=333333/linkcol=2ebd35/transparent=true/"
        seamless
        ><a href="https://halleylabs.com/album/fd04-another-versions">FD04
        ANOTHER VERSIONS by HALLEY LABS</a></iframe
      >
    </div>

    <ReleaseInformation
      releaseDate="YYYY-MM-DD"
      label=""
      catalogNumber=""
      country=""
      genre=""
      imgUrl=""
      imgAlt=""
    />

    <hr />

    <h3>msx' - live music shit (playlist!)</h3>

    <div class="youtube-player-container">
      <iframe
        class="youtube-video"
        src="https://www.youtube.com/embed/videoseries?si=nvq9eL-r1_VFBWan&list=PLyu9mj8BM1HLadwJuk0tUFrWUovVJCivF"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>

    <hr />

    <h3>msx - saunamaija</h3>

    <div class="youtube-player-container">
      <iframe
        class="youtube-video"
        width="560"
        height="315"
        src="https://www.youtube-nocookie.com/embed/5bjVmbaPsQg?si=cmDXHGr4rd_iwVca"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>

    <hr />

    <h3>msx - live music shit</h3>

    <div class="youtube-player-container">
      <iframe
        class="youtube-video"
        src="https://www.youtube-nocookie.com/embed/videoseries?si=JtYfWbPdscaI4Znt&list=PLyu9mj8BM1HLadwJuk0tUFrWUovVJCivF"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>

    <hr />

    <h2>greenhouse - arc,regn</h2>

    <div class="bandcamp-player-container">
      <iframe
        class="bandcamp-album"
        style="border: 0; width: 700px; height: 1136px;"
        src="https://bandcamp.com/EmbeddedPlayer/album=3515713455/size=large/bgcol=ffffff/linkcol=2ebd35/transparent=true/"
        seamless
        ><a href="https://halleylabs.com/album/arc-regn">arc,regn by
        greenhouse</a></iframe
      >
    </div>

    <ReleaseInformation
      releaseDate=""
      label="HALLEY LABS"
      catalogNumber=""
      country="Canada, 'Hamilton, Ontario'"
      genre="IDM, acid, ambient, braindance, glitch, experimental"
      imgUrl="https://f4.bcbits.com/img/a2514323599_10.jpg"
      imgAlt="greenhouse - arc,regn album cover"
    />

    <hr />

    <h2>Geometric Lullaby</h2>

    <h3>Electric Specter 電妖怪 - Electric</h3>

    <div class="bandcamp-player-container">
      <iframe
        style="border: 0; width: 700px; height: 1260px;"
        src="https://bandcamp.com/EmbeddedPlayer/album=999290086/size=large/bgcol=ffffff/linkcol=0687f5/package=1172855805/transparent=true/"
        seamless
        ><a
        href="https://geometriclullaby.bandcamp.com/album/ocean-electric">Ocean
        Electric by Electric Specter 電妖怪</a></iframe
      >
    </div>

    <hr />

    <h2>Acre Recordings</h2>

    <h3>Atomhead - Timeblind</h3>

    <div class="bandcamp-player-container">
      <iframe
        style="border: 0; width: 700px; height: 1004px;"
        src="https://bandcamp.com/EmbeddedPlayer/album=2344163634/size=large/bgcol=333333/linkcol=e99708/transparent=true/"
        seamless
        ><a href="https://acrerecordings.bandcamp.com/album/timeblind">Timeblind
        by Atomhead</a></iframe
      >
    </div>

    <hr />

    <h3>Laconic Impression - Epidemy</h3>

    <div class="bandcamp-player-container">
      <iframe
        style="border: 0; width: 700px; height: 1136px;"
        src="https://bandcamp.com/EmbeddedPlayer/album=3321547476/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/"
        seamless
        ><a href="https://acrerecordings.bandcamp.com/album/epidemy">Epidemy by
        Laconic Impression</a></iframe
      >
    </div>

    <hr />

    <h3>Méconium - The Synaptic Vesicle Routine</h3>

    <div class="bandcamp-player-container">
      <iframe
        style="border: 0; width: 700px; height: 905px;"
        src="https://bandcamp.com/EmbeddedPlayer/album=4132194786/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/"
        seamless
        ><a
        href="https://acrerecordings.bandcamp.com/album/the-synaptic-vesicle-routine">The
        Synaptic Vesicle Routine by Méconium</a></iframe
      >
    </div>

    <hr />

    <h3>C Mantle - Anatomically Correct</h3>

    <div class="bandcamp-player-container">
      <iframe
        style="border: 0; width: 700px; height: 1227px;"
        src="https://bandcamp.com/EmbeddedPlayer/album=532389344/size=large/bgcol=ffffff/linkcol=f171a2/package=2384018666/transparent=true/"
        seamless
        ><a
        href="https://acrerecordings.bandcamp.com/album/anatomically-correct">Anatomically
        Correct by C Mantle</a></iframe
      >
    </div>

    <hr />

    <h3>Opine Ko$insky - M.E.</h3>

    <div class="bandcamp-player-container">
      <iframe
        style="border: 0; width: 700px; height: 971px;"
        src="https://bandcamp.com/EmbeddedPlayer/album=2567872045/size=large/bgcol=333333/linkcol=ffffff/transparent=true/"
        seamless
        ><a href="https://acrerecordings.bandcamp.com/album/m-e">M.E. by Opine
        Ko$insky</a></iframe
      >
    </div>

    <hr />

    <h3>AcreCast (Acre Recordings)</h3>

    <div class="podomatic-player-container">
      <iframe
        src="https://podomatic.com/embed/html5/episode/2611384"
        height="208"
        width="504"
        frameborder="0"
        marginheight="0"
        marginwidth="0"
        scrolling="no"
        allowfullscreen></iframe>
    </div>

    <div class="podomatic-player-container">
      <iframe
        src="https://podomatic.com/embed/html5/episode/2660574"
        height="208"
        width="504"
        frameborder="0"
        marginheight="0"
        marginwidth="0"
        scrolling="no"
        allowfullscreen></iframe>
    </div>

    <hr />

    <h2>Low Entropy</h2>

    <h3>Low Entropy - Tribute Mix To Underground Futuristic Organisation</h3>

    <div class="hearthis-player-container">
      <iframe
        scrolling="no"
        id="hearthis_at_track_6927323"
        width="100%"
        height="150"
        src="https://app.hearthis.at/embed/6927323/transparent_black/?hcolor=&color=&style=2&block_size=2&block_space=1&background=1&waveform=0&cover=0&autoplay=0&css="
        frameborder="0"
        allowtransparency
        allow="autoplay"
        ><p>Listen to <a
        href="https://hearthis.at/lowentropy/low-entropy-tribute-mix-to-underground-futuristic-organisation/"
        target="_blank">Tribute Mix To Underground Futuristic Organisation</a>
        <span>by</span><a href="https://hearthis.at/lowentropy/" target="_blank"
        >Low Entropy</a> <span>on</span> <a href="https://hearthis.at/"
        target="_blank">hearthis.at</a></p></iframe
      >
    </div>

    <hr />

    <h3>Low Entropy at Fuckparade Warmup Party - Tresor.Berlin 04.07.2003</h3>

    <div class="hearthis-player-container">
      <iframe
        scrolling="no"
        id="hearthis_at_track_76552"
        width="100%"
        height="150"
        src="https://app.hearthis.at/embed/76552/transparent_black/?hcolor=&color=&style=2&block_size=2&block_space=1&background=1&waveform=0&cover=0&autoplay=0&css="
        frameborder="0"
        allowtransparency
        allow="autoplay"
        ><p>Listen to <a
        href="https://hearthis.at/lowentropy/low-entropy-fuckparade-warmup-party-2003/"
        target="_blank">Low Entropy @ Fuckparade Warmup Party - Tresor.Berlin
        04.07.2003</a> <span>by</span><a href="https://hearthis.at/lowentropy/"
        target="_blank" >Low Entropy</a> <span>on</span> <a
        href="https://hearthis.at/" target="_blank">hearthis.at</a></p></iframe
      >
    </div>

    <hr />

    <h3>Low Entropy - Kool Acidcore Test</h3>

    <div class="hearthis-player-container">
      <iframe
        scrolling="no"
        id="hearthis_at_track_1162479"
        width="100%"
        height="150"
        src="https://app.hearthis.at/embed/1162479/transparent_black/?hcolor=&color=&style=2&block_size=2&block_space=1&background=1&waveform=0&cover=0&autoplay=0&css="
        frameborder="0"
        allowtransparency
        allow="autoplay"
        ><p>Listen to <a
        href="https://hearthis.at/lowentropy/low-entropy-kool-acidcore-test/"
        target="_blank"> Kool Acidcore Test</a> <span>by</span><a
        href="https://hearthis.at/lowentropy/" target="_blank" >Low Entropy</a>
        <span>on</span> <a href="https://hearthis.at/"
        target="_blank">hearthis.at</a></p></iframe
      >
    </div>

    <hr />

    <h3>Low Entropy - Acidcore mix 4</h3>

    <div class="hearthis-player-container">
      <iframe
        scrolling="no"
        id="hearthis_at_track_174015"
        width="100%"
        height="150"
        src="https://app.hearthis.at/embed/174015/transparent_black/?hcolor=&color=&style=2&block_size=2&block_space=1&background=1&waveform=0&cover=0&autoplay=0&css="
        frameborder="0"
        allowtransparency
        allow="autoplay"
        ><p>Listen to <a
        href="https://hearthis.at/lowentropy/low-entropy-acidcore-mix-4/"
        target="_blank">Acidcore Mix 4</a> <span>by</span><a
        href="https://hearthis.at/lowentropy/" target="_blank" >Low Entropy</a>
        <span>on</span> <a href="https://hearthis.at/"
        target="_blank">hearthis.at</a></p></iframe
      >
    </div>

    <hr />

    <h2>Deadnoise</h2>

    <h3>Deadnoise - BELLIGERENCE PART 1: TECHNO</h3>

    <div class="soundcloud-player-container">
      <iframe
        width="100%"
        height="166"
        scrolling="no"
        frameborder="no"
        allow="autoplay"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1619628717&color=%237c6034&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
      ></iframe>
    </div>

    <hr />

    <h3>Deadnoise - BELLIGERENCE PART 2: HARDCORE</h3>

    <div class="soundcloud-player-container">
      <iframe
        width="100%"
        height="166"
        scrolling="no"
        frameborder="no"
        allow="autoplay"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1671924306&color=%2340403c&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
      ></iframe>
    </div>

    <hr />

    <h2>Acid releases</h2>

    <h3>Cthulhu - Gaap</h3>

    <div class="soundcloud-player-container">
      <iframe
        width="100%"
        height="166"
        scrolling="no"
        frameborder="no"
        allow="autoplay"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1705062102&color=%237c6034&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
      ></iframe>
    </div>

    <hr />

    <h2>Experimental releases</h2>

    <h3>
      Atomhead at PUNXTC - Hangars Liquides party, Strasbourg FR, 12-11-2005
    </h3>

    <div class="soundcloud-player-container">
      <iframe
        width="100%"
        height="300"
        scrolling="no"
        frameborder="no"
        allow="autoplay"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/615261567&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
      ></iframe>
    </div>

    <hr />

    <h3>KASCHADE - Schlockmeister's Alligator Soup (Kim the Vampire) 2021</h3>

    <div class="soundcloud-player-container">
      <iframe
        width="100%"
        height="166"
        scrolling="no"
        frameborder="no"
        allow="autoplay"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1055659804&color=%23b7bb3b&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
      ></iframe>
    </div>
  </div>
</BaseLayout>
