---
import BaseLayout from "../layouts/BaseLayout.astro";
import ReleaseInformation from "../components/release/ReleaseInformation.astro";
("../components/release/ReleaseInformation.astro");
// import YoutuberDetails from "../components/blog/youtube/YoutuberDetails.astro";
const pageTitle = "uN-RADIo MUSIC";
---

{/* ! TODO: alle embeds aflopen op juiste container etc */}
<BaseLayout pageTitle={pageTitle}>
  <div class="content-container">
    <div class="section-island">
      <h3>Playlists</h3>

      <div class="soundcloud-player-container">
        <iframe
          width="100%"
          height="450"
          scrolling="no"
          frameborder="no"
          allow="autoplay"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1738780644&color=%23715db4&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
        ></iframe>
      </div>

      <div class="soundcloud-player-container">
        <iframe
          width="100%"
          height="450"
          scrolling="no"
          frameborder="no"
          allow="autoplay"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1737833340&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
        ></iframe>
      </div>

      <div class="soundcloud-player-container">
        <iframe
          width="100%"
          height="450"
          scrolling="no"
          frameborder="no"
          allow="autoplay"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1737792624&color=%23050b1d&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
        ></iframe>
      </div>

      <div class="soundcloud-player-container">
        <iframe
          width="100%"
          height="450"
          scrolling="no"
          frameborder="no"
          allow="autoplay"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1735655325&color=%23050b1d&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
        ></iframe>
      </div>

      <h2>Zodiak Commune</h2>

      <h3>Akkaelle - Solid Transmission</h3>

      <h4>Promo</h4>

      <div class="bandcamp-player-container">
        <iframe
          style={{ border: "0", width: "1080px", height: "728px" }}
          src="https://bandcamp.com/VideoEmbed?track=3732141119&bgcol=333333&linkcol=ffffff"
          allowfullscreen={true}
          seamless={true}></iframe>
      </div>

      <h4>Vinyl</h4>

      <div class="bandcamp-player-container">
        <iframe
          style="border: 0; width: 700px; height: 971px;"
          src="https://bandcamp.com/EmbeddedPlayer/album=3768648171/size=large/bgcol=333333/linkcol=ffffff/transparent=true/"
          seamless
          allowfullscreen={true}
          seamless={true}></iframe>
        >
      </div>

      <h3>Paul Renard &amp; Dima Gastrolër - Acid Sessions vol.1</h3>

      <h4>PROMO'S</h4>

      <div class="bandcamp-player-container">
        <iframe
          style={{ border: "0", width: "1080px", height: "728px" }}
          src="https://bandcamp.com/VideoEmbed?track=96329465&bgcol=ffffff&linkcol=de270f"
          allowfullscreen={true}
          seamless={true}></iframe>
      </div>
      <div class="bandcamp-player-container">
        <iframe
          style={{ border: "0", width: "1080px", height: "728px" }}
          src="https://bandcamp.com/VideoEmbed?track=282686685&bgcol=ffffff&linkcol=de270f"
          allowfullscreen={true}
          seamless={true}></iframe>
      </div>

      <h4>Vinyl</h4>

      <div class="bandcamp-player-container">
        <iframe
          style="border: 0; width: 700px; height: 1128px;"
          src="https://bandcamp.com/EmbeddedPlayer/album=2729703531/size=large/bgcol=ffffff/linkcol=de270f/package=3302166008/transparent=true/"
          seamless
          ><a
          href="https://zodiakcommunerecords.bandcamp.com/album/zc033-acid-sessions-vol-1">ZC033
          - Acid Sessions vol.1 by Paul Renard &amp; Dima Gastrolër</a></iframe
        >
      </div>

      <h3>Acidulant - PA5Ti221 EP</h3>
      <div class="bandcamp-player-container">
        <iframe
          style="border: 0; width: 700px; height: 1062px;"
          src="https://bandcamp.com/EmbeddedPlayer/album=3786908161/size=large/bgcol=ffffff/linkcol=63b2cc/package=1696176802/transparent=true/"
          seamless
          ><a
          href="https://zodiakcommunerecords.bandcamp.com/album/zc028-pa5ti221-ep">ZC028
          - PA5Ti221 EP by Acidulant</a></iframe
        >
      </div>

      <h3>Acidevice - White Cyclus VI EP</h3>

      <div class="bandcamp-player-container">
        <iframe
          style="border: 0; width: 700px; height: 1095px;"
          src="https://bandcamp.com/EmbeddedPlayer/album=3242034399/size=large/bgcol=ffffff/linkcol=333333/package=2369098590/transparent=true/"
          seamless
          ><a
          href="https://zodiakcommunerecords.bandcamp.com/album/zc-kore003-white-cyclus-vi-ep">ZC-KORE003
          - White Cyclus VI EP by Acidevice</a></iframe
        >
      </div>

      <h3>Ounts & Lox - - Mist Of Souls</h3>

      <div class="bandcamp-player-container">
        <iframe
          style="border: 0; width: 700px; height: 1029px;"
          src="https://bandcamp.com/EmbeddedPlayer/album=3055901844/size=large/bgcol=ffffff/linkcol=0687f5/package=3672715865/transparent=true/"
          seamless
          ><a
          href="https://zodiakcommunerecords.bandcamp.com/album/zc-trip002-mist-of-souls">ZC-TRIP002
          - Mist Of Souls by Ounts, Lox</a></iframe
        >
      </div>

      <h3>V.A. - The Electro Guilde</h3>

      <div class="bandcamp-player-container">
        <iframe
          style="border: 0; width: 700px; height: 1095px;"
          src="https://bandcamp.com/EmbeddedPlayer/album=759708579/size=large/bgcol=ffffff/linkcol=0687f5/package=1375150101/transparent=true/"
          seamless
          ><a
          href="https://zodiakcommunerecords.bandcamp.com/album/zc-elec008-the-electro-guilde">ZC​-​ELEC008
          - The Electro Guilde by Dust Devices</a></iframe
        >
      </div>

      <h2>Acre Recordings</h2>

      <h3>Laconic Impression - Epidemy</h3>

      <div class="bandcamp-player-container">
        <iframe
          style="border: 0; width: 700px; height: 1136px;"
          src="https://bandcamp.com/EmbeddedPlayer/album=3321547476/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/"
          seamless
          ><a href="https://acrerecordings.bandcamp.com/album/epidemy">Epidemy
          by Laconic Impression</a></iframe
        >
      </div>

      <h3>Méconium - The Synaptic Vesicle Routine</h3>

      <div class="bandcamp-player-container">
        <iframe
          style="border: 0; width: 700px; height: 905px;"
          src="https://bandcamp.com/EmbeddedPlayer/album=4132194786/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/"
          seamless
          ><a
          href="https://acrerecordings.bandcamp.com/album/the-synaptic-vesicle-routine">The
          Synaptic Vesicle Routine by Méconium</a></iframe
        >
      </div>

      <h3>C Mantle - Anatomically Correct</h3>

      <div class="bandcamp-player-container">
        <iframe
          style="border: 0; width: 700px; height: 1227px;"
          src="https://bandcamp.com/EmbeddedPlayer/album=532389344/size=large/bgcol=ffffff/linkcol=f171a2/package=2384018666/transparent=true/"
          seamless
          ><a
          href="https://acrerecordings.bandcamp.com/album/anatomically-correct">Anatomically
          Correct by C Mantle</a></iframe
        >
      </div>

      <h2>Low Entropy</h2>

      <h3>Low Entropy - Tribute Mix To Underground Futuristic Organisation</h3>

      <div class="hearthis-player-container">
        <iframe
          scrolling="no"
          id="hearthis_at_track_6927323"
          width="100%"
          height="150"
          src="https://app.hearthis.at/embed/6927323/transparent_black/?hcolor=&color=&style=2&block_size=2&block_space=1&background=1&waveform=0&cover=0&autoplay=0&css="
          frameborder="0"
          allowtransparency
          allow="autoplay"
          ><p>Listen to <a
          href="https://hearthis.at/lowentropy/low-entropy-tribute-mix-to-underground-futuristic-organisation/"
          target="_blank">Tribute Mix To Underground Futuristic Organisation</a>
          <span>by</span><a href="https://hearthis.at/lowentropy/"
          target="_blank" >Low Entropy</a> <span>on</span> <a
          href="https://hearthis.at/" target="_blank">hearthis.at</a></p></iframe
        >
      </div>

      <h3>Low Entropy at Fuckparade Warmup Party - Tresor.Berlin 04.07.2003</h3>

      <div class="hearthis-player-container">
        <iframe
          scrolling="no"
          id="hearthis_at_track_76552"
          width="100%"
          height="150"
          src="https://app.hearthis.at/embed/76552/transparent_black/?hcolor=&color=&style=2&block_size=2&block_space=1&background=1&waveform=0&cover=0&autoplay=0&css="
          frameborder="0"
          allowtransparency
          allow="autoplay"
          ><p>Listen to <a
          href="https://hearthis.at/lowentropy/low-entropy-fuckparade-warmup-party-2003/"
          target="_blank">Low Entropy @ Fuckparade Warmup Party - Tresor.Berlin
          04.07.2003</a> <span>by</span><a
          href="https://hearthis.at/lowentropy/" target="_blank" >Low
          Entropy</a> <span>on</span> <a href="https://hearthis.at/"
          target="_blank">hearthis.at</a></p></iframe
        >
      </div>

      <h3>Low Entropy - Kool Acidcore Test</h3>

      <div class="hearthis-player-container">
        <iframe
          scrolling="no"
          id="hearthis_at_track_1162479"
          width="100%"
          height="150"
          src="https://app.hearthis.at/embed/1162479/transparent_black/?hcolor=&color=&style=2&block_size=2&block_space=1&background=1&waveform=0&cover=0&autoplay=0&css="
          frameborder="0"
          allowtransparency
          allow="autoplay"
          ><p>Listen to <a
          href="https://hearthis.at/lowentropy/low-entropy-kool-acidcore-test/"
          target="_blank"> Kool Acidcore Test</a> <span>by</span><a
          href="https://hearthis.at/lowentropy/" target="_blank" >Low
          Entropy</a> <span>on</span> <a href="https://hearthis.at/"
          target="_blank">hearthis.at</a></p></iframe
        >
      </div>

      <h3>Low Entropy - Acidcore mix 4</h3>

      <div class="hearthis-player-container">
        <iframe
          scrolling="no"
          id="hearthis_at_track_174015"
          width="100%"
          height="150"
          src="https://app.hearthis.at/embed/174015/transparent_black/?hcolor=&color=&style=2&block_size=2&block_space=1&background=1&waveform=0&cover=0&autoplay=0&css="
          frameborder="0"
          allowtransparency
          allow="autoplay"
          ><p>Listen to <a
          href="https://hearthis.at/lowentropy/low-entropy-acidcore-mix-4/"
          target="_blank">Acidcore Mix 4</a> <span>by</span><a
          href="https://hearthis.at/lowentropy/" target="_blank" >Low
          Entropy</a> <span>on</span> <a href="https://hearthis.at/"
          target="_blank">hearthis.at</a></p></iframe
        >
      </div>

      <h3>AcreCast (Acre Recordings)</h3>

      <div class="podomatic-player-container">
        <iframe
          src="https://podomatic.com/embed/html5/episode/2611384"
          height="208"
          width="504"
          frameborder="0"
          marginheight="0"
          marginwidth="0"
          scrolling="no"
          allowfullscreen></iframe>
      </div>

      <div class="podomatic-player-container">
        <iframe
          src="https://podomatic.com/embed/html5/episode/2660574"
          height="208"
          width="504"
          frameborder="0"
          marginheight="0"
          marginwidth="0"
          scrolling="no"
          allowfullscreen></iframe>
      </div>

      <h3>Deadnoise - BELLIGERENCE PART 2: HARDCORE</h3>

      <div class="soundcloud-player-container">
        <iframe
          width="100%"
          height="166"
          scrolling="no"
          frameborder="no"
          allow="autoplay"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1671924306&color=%2340403c&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
        ></iframe>
      </div>
    </div>
  </div>
</BaseLayout>
