---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout
  pageTitle={frontmatter.title}
  featuredUrl={frontmatter.featuredUrl}
  image={frontmatter.image}
>
  <div class="tags">
    {
      frontmatter.tags
        .sort((a, b) => a.localeCompare(b))
        .map((tag) => (
          <p class="tag">
            <a href={`/tags/${tag}`}>{tag}</a>
          </p>
        ))
    }

    {console.log(frontmatter.tags)}

    <slot />
  </div>
</BaseLayout>
